@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;600;700;800&display=swap');

* {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 19px;
}

.bg-grey {
  background-color: #f3f3f393 !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.link {
  font-size: 18px;
}

.nav-link {
  transition: all 100ms ease-in-out;
}

.nav-link:hover{
  color: #cecb11 !important;
}

#img-redonda{
  border-radius: 5%;
}

.footer {
  margin-top: 10%;
  background-color: #343a40; /* Cor de fundo do rodapé, ajuste conforme necessário */
  color: white; /* Cor do texto no rodapé, ajuste conforme necessário */
  padding-top: 20px; /* Espaçamento interno superior no rodapé, ajuste conforme necessário */
  padding-bottom: 20px; /* Espaçamento interno inferior no rodapé, ajuste conforme necessário */
  margin-bottom: 0; /* Remova a margem inferior para evitar espaço em branco abaixo do rodapé */
}
